[include]
  path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/akiho/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[url "https://github.com/"]
	insteadOf = git://github.com/
[merge]
	conflictStyle = diff3
[ghq]
	root = /Users/akiho/github
[alias]
  l = log --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
	fp = !git fetch && git pull --rebase
	# リモートリポジトリ上で削除されたブランチをローカルの追跡ブランチからも削除
	ftp = fetch --prune
	swc = switch -c
	# branch local
	bl = !git for-each-ref --sort=-authordate --format='%(authordate:short) %(refname)' refs/heads | sed 's/refs\\/heads\\///'
	# branch remote
	br = !git for-each-ref --sort=-authordate --format='%(authordate:short) %(refname)' refs/remotes | sed 's/refs\\/remotes\\///' | grep -v 'origin/HEAD'
	# switch local branch
	swl = !git bl | fzf --no-sort --preview 'git l -n 10' | awk '{ print $NF }' | xargs git switch
	# switch remote branch
	swr = !git fetch --prune && git br | fzf --no-sort | awk '{ print $NF }' | xargs -I{} sh -c 'git checkout -t {} || echo {} | sed -e "s%[^/]*/%%" | xargs git switch'
	# delete local branch
	dlb = !git bl | fzf --header '[delete local branch]' | awk '{ print $NF }' | xargs git branch -D
	# delete remote branch
	drb = !git br | fzf --header '[delete reteme branch]' | awk '{ print $NF }' | sed -r 's/([^\\/]+)\\/(.+)/\\1 \\2/g' | xargs git push -d
	# switch forward
	swf = !git stash save && git switch
	# switch back
	swb = !git switch - && git stash pop
	# リモートブランチの最新の状態にローカルブランチを強制的にリセット
  rho = !git cbn | sed 's/\\.*/origin\\/&/' | xargs git rh
	cbn = branch --show-current # rev-parse --abbrev-ref HEAD
	rh = reset --hard
  # delete merged branch: リモート追跡が消えた（gone）ブランチのみが削除対象
  dmb = !git fetch --prune && \
        git branch -vv | grep ': gone]' | awk '{print $1}' | \
        grep -v -E '^(master|main|dev)$' | xargs -r git branch -D
	# remote dev を最新にしてマージ済みブランチ削除
	# up = !git ftp && git rho && git dmb
	up = !git ftp && git dmb
	# dev branch と特定のファイルの差分を比較
	dd = !git diff origin/dev --
	# dev ブランチの内容を現在のブランチに反映
	cd = !git checkout origin/dev --